body{
  background-color: #495057 !important;
  color: white !important;
}

.movie-app > .row {
	overflow-x: auto ;
	flex-wrap: nowrap;
}


.image-container{
  max-width: 200px !important;
  position: relative;
  transition: transform 0.2s;
  margin: 10px !important;
}
.images{
  width: 200px;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay{
  opacity: 1;
}

.overlay{
  position: absolute;
  background-color: black;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom:0 ;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}







/* Track */
::-webkit-scrollbar {
  height: 15px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 20px;
  box-shadow: inset 0 0 5px black; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #c95656; 
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
  background: #c95656; 
}










@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    height: 0px !important;              
    width: 0px !important;              
    border: 1px solid transparent !important;
  } 
  
}